# Byte-compiled / optimized / DLL files
__pycache__/
*.ipynb_checkpoints

AS/TME4/chen
AS/TME4/mnist

*.aux

*.log

*.out

*.pdf

*.gz

data/

*.class

RI/RI_Project/indexation/target/streams/$global/projectDescriptors/$global/streams/out

RI/RI_Project/indexation/target/streams/$global/update/$global/streams/out

recodata/

*.xml

*.cache

RI/RI_Project/indexation/target/.history

*.properties

*.css

*.xsl

target/

recodata/

*.zip

Scene/

*.csv

*.txt

FDMS/TME2/Modèle linéaire régularisé L1_OLD.ipynb

*.mat

IP/CV_paulwillot_en/picture_old.jpg

ImagesASTME4/

*.content

*.cites

*.dat

RenduTME3_4_FlorianToque/

FDMS/TME3/etreg.pkl

FDMS/TME3/gbr.pkl

FDMS/TME3/knn.pkl

FDMS/TME3/rfr.pkl

FDMS/TME3/xgbr.pkl

IP/CV_paulwillot_en/picture_4_3_paul_willot.jpg

IP/CV_paulwillot_en/thumb_picture_old copy_1024.jpg
