# Byte-compiled / optimized / DLL files
__pycache__/
*.ipynb_checkpoints


*.aux

*.log

*.out

*.pdf

*.gz

data/

*.class

RI/RI_Project/indexation/target/streams/$global/projectDescriptors/$global/streams/out

RI/RI_Project/indexation/target/streams/$global/update/$global/streams/out

*.xml

*.cache

RI/RI_Project/indexation/target/.history

*.properties

*.css

*.xsl

target/

*.zip

Scene/

*.csv

*.txt

FDMS/TME2/Modèle linéaire régularisé L1_OLD.ipynb

*.mat

IP/CV_paulwillot_en/picture_old.jpg
